.sign-in {
    width: 80vh;
    height: 70vh;

    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 0 50px 50px 0;
    padding: 3%;

    font-size: calc(15px + 2vmin);
    font-weight: bold;
    user-select: none;
}

.sign-in h1 {
    margin: 5% 0 7% 0;
}

.link1 {
    color: gray;
    font-size: calc(2px + 2vmin);
}

.writingSpace {
    display: flex;
    margin: 4%;
    height: 60px;
    
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
    
    border: 4px solid gray;
    border-radius: 40px;
    background-color: lightblue;
    outline: none;

    font-size: calc(7px + 2vmin);
    font-weight: bold;
    color:gray;
}

.seccion-registrate a:hover{
    color: lightgray;
}

.sign-in a:hover{
    color: lightgray;
}

.button1 {
    width: 200px;
    height: 60px;
    margin: 20% auto 0;
    
    border-radius: 50px;
    border: 4px solid gray;
    background-color: white;

    color: black;
}