.App {
  text-align: center;
  background-color: rgb(150,150,150);
}

.header1 {
  min-height: 22vh;
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: calc(45px + 2vmin);
  color: white;
}

.footer1 {
  padding: 30px;
  display: flex;

  font-weight: bold;
  background-color:lightskyblue;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/